*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    font-family: Arial, sans-serif;
    background-color: lightgoldenrodyellow;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    max-width: 70%;
}

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: darkgrey;
}

.nav ul li{
    display: inline-block;
    line-height: 45px;
}

.nav ul li a{
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

.nav ul li a:hover{
    color: black;
}

.container{
    width: 1200px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header{
    padding: 50px;
}

h1{
    color: #333;
    font-size: 45px;
}

.header p{
    margin-top: 10px;
    font-size: 16px;
    text-align: justify;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

strong{
    font-weight: bold;
}

em{
    font-style: italic;
    color: aquamarine;
}

ul{
    list-style-type: decimal;
}

li{
    color: #555;
}

.animated{
    animation: fadeIn 5s ease-in-out;
    animation: fadeIn 5s ;
}

@keyframes fadeIn{
    0%{ opacity: 0;}
    100% { opacity: 1;}
}

.hero{
    margin-top: 50px;
    border-radius: 50px;
    height: 800px;
    background-size: cover; 
}

h2{
    padding: 10px;
    text-align: center;
}

hr{
    width: 300px;
    border-top: 3px solid lightblue;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.paragraf{
    text-align: center;
    padding: 30px;
}

.paragraf p{
    padding: 5px;
    margin-bottom: 10px;
    font-size: 18;
}

.content{
    padding: 50 px;
    margin-top: -20;
}

.kiri{
    padding: 30px;
    border-radius: 50px;
    margin-left: 50px;
    margin-top: 50px;
    width: 500px;
    float: left;
    background-color: lightcyan;
    text-align: center;
}

.kanan{
    padding: 30px;
    border-radius: 50px;
    margin-left: 50px;
    margin-top: 50px;
    width: 500px;
    float: left;
    background-color: lightcyan;
    text-align: center;
    box-sizing: border-box;
}

image{
    padding: 10px;
    border-radius: 30px;
    width: 300px;
    height: 300px;
}

img{
    padding: 10px;
    border-radius: 30px;
    margin: auto;
    width: auto;
    height: 300px;
    margin-left: 25px;

}

h3{
    text-align: center;
    padding: 10px;
}


.footer{
    background-color: black;
    padding: 10px;
}

.copy{
    color: #fff;
    text-align: center;
    font-size: 12px;
}

.footer a{
    color: lightblue;
    text-decoration: none;
}